/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* Base Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    justify-content: center;
    margin: 0;
}

h3 {
    color: #0f0f0f;
    text-align: center;
    font-size: 30px;
    font-style: normal; /* Ensure the h3 isn't italic */
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

/* Navbar Styles */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    position: sticky;
    top: 0;
    background: rgba(227, 230, 243, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    z-index: 1000;
}

#navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#navbar ul li {
    margin: 0 10px;
}

#navbar ul li a, #logo {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

/* Account Dropdown */
.account-dropdown {
    position: relative;
}

.account-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.account-dropdown:hover .dropdown-content {
    display: block;
}

.account-dropdown a {
    color: black;
    padding: 5px;
    margin-left: 10px;
    text-decoration: none;
    display: block;
    min-width: 50px;
}

.account-dropdown a:hover {
  cursor: pointer;
  background-color: #259de6; 
  color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 5px; 
  transform: translateY(-2px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease; 
}

/* Task Input */
#btns, #task {
    width: 80%;
    margin: 20px 10%;
    display: flex;
    justify-content: center;
}

#task {
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 0 5%;
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: #259de6;
}

/* Miscellaneous Styles */
.error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

/* Suggestion List */
#suggestionList {
    list-style: none;
    width: 84%;
    padding: 5px 0 5px 2px;
    color: #070707;
    margin: 10px 10%;
    background-color: #fcf9f9;
    border: 1px solid rgba(8, 8, 8, 0.18);
    border-radius: 10px;
}

#suggestionList li {
    padding: 5px;
    margin-left: 5px;
}

#suggestionList li:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #dbdad8;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease; 
}

/* Task Lists */
#dotasks ul, #donetasks ul {
    list-style-type: none;
    color: #2c2a2a;
    text-align: start;
    padding: 0;
    margin: 20px 10%;
    width: 80%;
}

li {
    margin: 10px;
    font-size: 20px;
}

li input[type="checkbox"] {
    align-self: flex-start;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#dotasks, #donetasks {
    border: 1px solid white;
    border-radius: 10px;
    width: 90%;
    margin: 20px 5%;
    padding: 10px 0 30px 0;
    background: rgba(117, 174, 189, 0.514);
    backdrop-filter: blur(4px);
}

/* Clear Buttons */
#cleartodo, #cleardone {
    width: 50%;
    margin: 20px 25%;
}

@media only screen and (min-width: 1920px) and (max-width: 3072px) {
  body {
      margin-left: 20%;
      margin-right: 20%;
  }
}